<html>

<head>
    <meta charset="UTF-8">
    <title>Gate Prepare</title>
    <link rel="stylesheet" href="/style.css"> 
</head>

<body>
    <div class="container">
        <form action="/analysis" method="get">
            <label for="info">Roll No:</label>
            <input id="info" name="info" type="text" placeholder="Enter Your College Rollno" required>
            <button id="Confirm">Confirm</button>
        </form>
    </div>
    <script src="/script.js"></script>
</body>

</html>