<html>

<head>
    <meta charset="UTF-8">
    <title>Gate Prepare</title>
    <link rel="stylesheet" href="../style.css">  /*since we already mentioned public in the server.js to find static files so there is no need to mention /public again*/
</head>

<body>
    <div>
        
    </div>
</body>

</html>