<html>

<head>
    <meta charset="UTF-8">
    <title>Gate Prepare</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/toast.css">
</head>

<body>
    <div id="successMessage" class="toast toast-success hidden">
        Form submitted successfully! 🎉
    </div>
    <div id="errorMessage" class="toast toast-error hidden">
        Failed to store data. Please try again. ❌
    </div>

    <a href="/analytics"> Get Analysis</a>

    <div class="container">

        <form action="/create" method="post">
            <h1>Gate Planner</h1>
            <label for="rollno">Roll No.</label>
            <input id="rollno" name="rollno" type="text" placeholder="Your College Roll No." required>
            <label for="subject">Subject:</label>
            <select id="subject" name="subject" onchange="topicSelector()">
                <option value="">--Select--</option>
                <option value="Engineering Mathematics">Engineering Mathematics </option>
                <option value="Digital Logic">Digital Logic</option>
                <option value="Computer Organization and Architecture">Computer Organization and Architecture</option>
                <option value="Programming and Data Structures">Programming and Data Structures</option>
                <option value="Algorithms">Algorithms</option>
                <option value="Theory of Computation">Theory of Computation</option>
                <option value="Compiler Design">Compiler Design</option>
                <option value="Operating System">Operating System</option>
                <option value="Databases">Databases</option>
                <option value="Computer Networks"> Computer Networks</option>
            </select>
            <label for="topic"> Topic: </label>
            <select id="topic" name="topic" required>
                <option value="">--Select--</option>
            </select>
            <label for="score">Your Score:</label>
            <input id="score" type="number" name="score" placeholder="Enter Your Score in Exam" required>
            <label for="question">Total Marks:</label>
            <input id="question" name="question" type="number" placeholder="Enter the Exam Marks" required>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" placeholder="Date">
            <div class="submit">
                <button type="submit" id="submit">Log Score</button>
            </div>
            <p>1.Use Your Same College Provided Roll Number, So that it will be easy for tracking.</p>
        </form>
    </div>
    <script src="/script.js"></script>
</body>

</html>
