<html>

<head>
    <meta charset="UTF-8">
    <title>Gate Prepare</title>
    <link rel="stylesheet" href="../style.css">  /*since we already mentioned public in the server.js to find static files so there is no need to mention /public again*/
</head>

<body>
    <form action="/create" method="post">
        <h1>Gate Planner</h1>
        <label for="subject">Subject:</label>
        <select id="subject" name="subject">
            <option value="">--Select--</option>
            <option value="Engineering Mathematics">Engineering Mathematics </option>
            <option value="Digital Logic">Digital Logic</option>
            <option value="Computer Organization and Architecture">Computer Organization and Architecture</option>
            <option value="Programming and Data Structures">Programming and Data Structures</option>
            <option value="Algorithms">Algorithms</option>
            <option value="Theory of Computation">Theory of Computation</option>
            <option value="Compiler Design">Compiler Design</option>
            <option value="Operating System">Operating System</option>
            <option value="Databases">Databases</option>
            <option value="Computer Networks"> Computer Networks</option>
        </select>
        <label for="topic">Topic:</label>
        <input id="topic" name="topic" placeholder="Enter Your Topic" type="text" required>
        <label for="score">Score:</label>
        <input id="score" type="number" name="score" placeholder="Score" required>
        <label for="question">Total Questions</label>
        <input id="question" name="question" type="number" placeholder="Number of Questions" required>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" placeholder="Date">
        <button type="submit" class="Submit">Log Score</button>
</body>

</html>