<html>
<head>
    <meta charset="UTF-8">
    <title>Your GATE Analysis</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Your GATE Analysis</h1>

        <div class="diagnosis-card">
            <%- diagnosis %>
        </div>
        <button class="quiz" onclick="location.href='/quiz/<%= quizId %>/<%= requiredRoll %>'">Take The Quiz</button>
    </div>
</body>
</html>