<html>

<head>
    <meta charset="UTF-8">
    <title>Your GATE Analysis</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>Quiz Results</h1>
    <h2> You Scored Marks of <%= count %> for a total of <%= total %></h2>
    
</body>

</html>